a{
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-decoration-color: rgb(118, 223, 118);
    text-decoration-thickness: 5px;
    text-transform: uppercase;
    text-shadow: 5px 5px 2px rgb(37, 36, 36);
   
}
#p1{
    text-indent: 10px;
    letter-spacing: 5px;
    word-spacing: 5px;
    line-height: 200%;
}
#p2{
    white-space: pre-wrap;  
    font-family:'Courier New', Courier, monospace
 
}